/* ___----_calibre_----___*/
@font-face {
    font-family: 'Calibre-bold';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/CalibreBlack.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  }


/* ___----_calibre__bold_----___*/
@font-face {
    font-family: 'Calibre';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/CalibreBold.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  }